<div class="container">
    <div class="col-8 offset-2">
      <input type="text" class="form-control" [(ngModel)]="carName">
      <hr>
      <button class="btn btn-primary" (click)="loadCars()">Загрузить машины</button>
      <button class="btn btn-success" (click)="addCar()">Добавить машину</button>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let car of cars">
            {{car.name}}
            ({{car.color}})
            <button class="btn btn-sm btn-info" (click)="setNewColor(car)">Изменить цвет</button>
            <button class="btn btn-sm btn-danger" (click)="deleteCar(car.id)">Удалить машину</button>
            <span class="badge" [ngStyle]="{background: car.color}">
                {{car.id}}
            </span>
        </li>
      </ul>
    </div>
</div>